<div class="d-none d-md-block mb-1">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="authService.user">
          <a class="nav-link" routerLink="dish-list" routerLinkActive="active">Lista Dań</a>
        </li>
        <li class="nav-item" *ngIf="authService.user">
          <a class="nav-link" routerLink="user-list" routerLinkActive="active">Gotowe Listy</a>
        </li>
        <li class="nav-item" *ngIf="authService.user">
          <a class="nav-link" routerLink="add-dish" routerLinkActive="active">Dodaj Danie</a>
        </li>
        <li class="nav-item" *ngIf="authService.user">
          <a class="nav-link" routerLink="add-list" routerLinkActive="active">Dodaj Liste</a>
        </li>
        <li class="nav-item" *ngIf="!authService.user">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Logowanie</a>
        </li>
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" *ngIf="authService.user" routerLinkActive="active" (click)="logout()">Wyloguj</a>
        </li>
        <li class="nav-item" *ngIf="authService.user">
          <img [src]="imagePath" alt="{{authService.user.email}}">
        </li>
      </ul>
  </div>
  <div class="d-sm-block d-md-none ml-3 mb-1">
      <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                <a ngbDropdownItem class="dropdown-item" routerLink="home" routerLinkActive="active">Home</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="dish-list" routerLinkActive="active">Lista Dań</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="user-list" routerLinkActive="active">Gotowe Listy</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="add-dish" routerLinkActive="active">Dodaj Danie</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="add-list" routerLinkActive="active">Dodaj Liste</a>
                <a ngbDropdownItem class="dropdown-item" *ngIf="!authService.user" routerLink="login" routerLinkActive="active">Logowanie</a>
                <a ngbDropdownItem class="dropdown-item" *ngIf="authService.user" routerLinkActive="active" (click)="logout()">Wyloguj</a>
              </div>
            </div>
          </div>
  </div>



