
<h3 *ngIf="categoryCheck">{{dishCategory}} </h3>
<ngb-accordion [closeOthers]="true">
  <ng-container class="card" *ngFor="let dish of dishesList; let i = index">
    <ng-container *ngIf="dish.category === dishCategory && dish.deleted !== true">
      <ngb-panel id="static-{{i}}" title="{{dish.dish | transformList}}">
        <ng-template ngbPanelContent>
          <div class="row" [appDishCategory]="dish.category">
            <div class="col-sm-8">
              Skladniki
              <ul style="list-style-type: none; padding: 0; margin: 0">
                <li [appShopsIcon]="q.sklep" *ngFor="let q of dish.product">
                  {{q.produkt | transformList}}
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <div class="btn-group-vertical">
                <button class="btn btn-light mb-2" (click)="editDish(dish)"> Edytuj</button>
                <button class="btn btn-light" (click)="deleteDish(dish)"> Skasuj</button>
              </div>
            </div>
            <div class="col-sm-12">
              <h3>Przepis</h3>
              <p>
                {{dish.dishRecipe}}
              </p>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ng-container>
</ngb-accordion>
