<div class="container">
  <div class="row">
      <div class="col-sm-0 col-lg-2"></div>
      <div class="col-sm-12 col-lg-8">
      <div class="jumbotron">
        <ng-container *ngFor="let category of dishCategory">
          <app-dishes-list [dishCategory]="category"></app-dishes-list>
        </ng-container>
      </div>
    </div>
  </div>
</div>
