
<div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="jumbotron">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">

                    <a class="btn btn-primary btn-lg" routerLink="/home" routerLinkActive="active">Home</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

