<div class="container">
  <div class="row">
    <div class="col-sm-0 col-lg-2"></div>
    <div class="col-sm-12 col-lg-8">
      <div class="jumbotron">
        <div>
          <form [formGroup]="userListForm" #formData='ngForm' (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-8">
                <input type="text" id="listName" class="form-control" formControlName="listName" placeholder="Nazwa Listy"
                  required />
                  <div *ngIf="userListForm.get('listName').invalid && userListForm.get('listName').dirty">Pole wymagane</div>
                  <div *ngIf="userListForm.get('listName').errors && userListForm.get('listName').errors.minlength">Nazwa listy musi mieć minimum 3 znaki</div>
              </div>
              <div class="col-sm-4">
                <div class="btn-group-vertical">
                  <button type="submit" class="btn btn-light" [disabled]="formData.invalid" (click)="openSm(content)" *ngIf="listId === null">Zapisz
                    Liste</button>
                  <button (click)="saveEditedList()" (click)="openSm(content)" type="button"  class="btn btn-light" [disabled]="formData.invalid" *ngIf="listId !== null">Edytuj Liste</button>
                </div>
              </div>
            </div>

            <div class="mt-3">
              <ng-container *ngFor="let item of userListChoosedDish">
                <div class="row mt-1">
                    <div class="col-sm-8">
                        {{item.dish | transformList}}
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-light" (click)="removeSelectedDishFromList(item._id.$oid)"> Skasuj</button>
                    </div>
                </div>
                <div>
                </div>
              </ng-container>
            </div>

          </form>
          <div>
            <p>Lista dan</p>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let dish of allUserDish">
                <div class="row">
                  <div class="col-sm-8" style="display:flex; align-items: center">
                      <span>{{dish.dish | transformList}}</span>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-light float-sm-right" (click)="addToSpecifedList(dish._id.$oid)" (click)="removeSelectedDishFromUserList(dish._id.$oid)">Dodaj</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{modalInfo.head}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{modalInfo.mainInfo}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{modalInfo.closeButton}}</button>
      </div>
    </ng-template>
