<div class="container">
  <div class="row">
      <div class="col-sm-0 col-lg-2"></div>
      <div class="col-sm-12 col-lg-8">
      <div class="jumbotron">
        <ngb-accordion [closeOthers]="true">
          <ng-container class="card" *ngFor="let item of allUserList; let i = index">
            <ngb-panel id="static-{{i}}" title="{{item.listName | transformList}}" *ngIf="item.deleted !== true">
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-9">
                      <ol>
                          <li *ngFor="let q of item.dishes">
                            {{q}}
                          </li>
                        </ol>
                  </div>
                  <div class="col-sm-3">
                      <button (click)="editList(item.id)" class="btn btn-secondary mb-2"> Edytuj Liste</button>
                      <button (click)="deleteList(item.id)" class="btn btn-secondary"> Skasuj Liste</button>
                  </div>
                </div>
                <p> Zakupy </p>
                <ngb-tabset>
                  <ngb-tab *ngFor="let shop of item.shops" title={{shop}} >
                      <ng-template ngbTabContent>
                        <ul style="list-style-type: none; padding: 0; margin: 0">
                              <ng-container *ngFor="let i of item.productAndShop">
                                  <li [appShopsIcon]="i.sklep" *ngIf="i.sklep === shop">{{i.produkt | transformList}}</li>
                              </ng-container>
                            </ul>
                      </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </ng-template>
            </ngb-panel>
          </ng-container>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
