<div class="container">
  <div class="row">
    <div class="col-sm-0 col-md-0 col-lg-1"></div>
    <div class="col-sm-12 col-md-12 col-lg-10">
      <div class="jumbotron">
          <p>Logowanie/Rejestracja odbywa sie przy pomocy firebase, wystarczy jedynie email  i haslo</p>
          <p>Jako iż jest to aplikacja servelless, to każde dodane danie jak i lista zapisuje się w chmurze</p>
          <p>Na chwile obecną aplikcja służy jako POC</p>

          <p>Konto testowe:</p>
          <p>login: kuba@test.pl</p>
          <p> pass: 123456</p>

          Celem jej jest danie możliwości użytkownikowi stworzenia swoich własnych dań, oraz list z daniami.
          Dodawanie dań:
          Pola:
          <ul>
            <li> Nazwa Dania</li>
            <li> Kategoria Dania - na chwile obecną są 4 arbitralne (obiadowe, lekkie, desery, inne);</li>
            <li> Przepis</li>
            <li> składniki
              Pola
              <ul>
                <li> nazwa składnika</li>
                <li> sklep - w tym miejscu rownież są 4 arbitralne opcje (Biedronka, Lidl, Żabka, inne)</li>
              </ul>
            </li>
          </ul>

          Dodawanie Listy:
            <ul>
                <li> Nazwa Listy</li>
                <li> Wybrane dania z listy</li>
            </ul>

          Edycja Dań jest możliwa z zakładki "lista dań i rozwiniecie dania , gdzie znajduje sie przycisk edytuj"
          Edycja listy, jest możliwa z zakładki "Gotowe listy", po rozwinięciu listy, jest przycisk 'edytuj'
      </div>
    </div>
  </div>
</div>
