<div class="container">
  <div class="row">
    <div class="col-sm-0 col-lg-2"></div>
    <div class="col-sm-12 col-lg-8">
      <div class="jumbotron">
        <form [formGroup]="addForm" #formData='ngForm' (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="#dishName">Nazwa Dania</label>
            <input type="text" id="dishName" class="form-control" formControlName="dishName" placeholder="Nazwa Dania"
              required />
            <div *ngIf="addForm.get('dishName').invalid && addForm.get('dishName').dirty">Pole wymagane</div>
            <div *ngIf="addForm.get('dishName').errors && addForm.get('dishName').errors.minlength">Nazwa dania musi
              mieć minimum 3 znaki</div>

            <label for="exampleFormControlSelect1">Kategoria Dania</label>
            <select class="form-control" formControlName="categoryName" id="exampleFormControlSelect1">
              <option *ngFor="let ar of arr" [value]="ar">{{ar}}</option>
            </select>
          </div>
          <div class="form-group">
            <textarea formControlName="dishRecipe" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group" formArrayName="product">
            <label for="#productName">Składniki</label>
            <div *ngFor="let item of addForm.get('product')['controls']; let i = index;">
              <div class="row" [formGroupName]="i">
                <div class="col-sm-6">
                  <input type="text" id="item" class="form-control" formControlName="produkt" placeholder="nazwa skladnika"
                    required />
                </div>
                <div class="col-sm-5">
                  <select class="form-control" formControlName="sklep" required>
                    <option *ngFor="let ar of arr2" [value]="ar">{{ar}}</option>
                  </select>
                </div>
                <div class="col-sm-1">
                  <button type="button" (click)="removeProductField(i)" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-12" *ngIf="addForm.get('product').errors && addForm.get('product').errors['empty'] && addForm.get('product').dirty">
              <p> Pola nie moga być puste</p>
            </div>
          </div>
          <button type="button" class="btn btn-light mr-2" (click)="addProductForDish()"> dodaj pole</button>
          <button type="submit" class="btn btn-light" *ngIf="sub === null" [disabled]="formData.invalid" (click)="openSm(content)">Zapisz</button>
          <button type="button" class="btn btn-light" *ngIf="sub !== null" [disabled]="formData.invalid" (click)="saveEditedDish()" (click)="openSm(content)"> Edytuj</button>
        </form>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalInfo.head}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{modalInfo.mainInfo}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{modalInfo.closeButton}}</button>
  </div>
</ng-template>
